StarChat::User.auth_system do |name, password|
  next true if name == 'foo' and password == 'bar'
  false
end

configure :development do
  StarChat::RedisDB.setup('127.0.0.1', 6379)
end

configure :production do
  StarChat::RedisDB.setup('127.0.0.1', 6380)
end

configure :test do
  StarChat::RedisDB.setup('127.0.0.1', 6381)
end
